.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/

# libreoffice
.~lock.*
*.csv
data/.DS_Store
data/futures/.DS_Store
data/futures/adjusted_prices_csv/.DS_Store
